body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAV STYLING */

nav {
  display: flex;
  justify-content: space-around;
  border: 2px solid grey;
  padding: 4px;
}

.App > Link {
  text-align: center;
  text-decoration: none;
}

/* FORM STYLING */

input[type="text"] input [type="password"] input[type="submit"] {
  padding: 5px;
  margin: 8px;
  background-color: lightgrey;
  border: none;
}